<div class="comment">
  <li><%= comment.content %></li>
  <li> By: <%= comment.author %> </li>
  <li><%= comment.author_email %></li>
</div>

<% if current_user && current_user.editor? %>
  <tr>
    <% if policy(comment).destroy? %>
      <td><%= button_to 'Delete', polymorphic_path([@commentable, comment]), method: :delete, class: "btn" %></td>
    <% end %>

    <% if comment.approved? == false && policy(comment).approved? %>
      <td><%= button_to 'Approve', polymorphic_path([@commentable, comment], comment: { approved: true }), method: :put, class: "btn" %></td>
    <% end %>
  </tr>
<% end %>
