<div class="comment">
  <li><%= comment.content %></li>
  <li> By: <%= comment.author %> </li>
  <li><%= comment.author_email %></li>
</div>

<% if current_user && current_user.editor? %>
  <div>
    <ul>
    <% if policy(comment).destroy? %>
      <li><%= button_to 'Delete', polymorphic_path([@commentable, comment]), method: :delete, class: "btn" %></li>
    <% end %>

    <% if comment.approved? == false && policy(comment).approved? %>
      <li><%= button_to 'Approve', polymorphic_path([@commentable, comment], comment: { approved: true }), method: :put, class: "btn" %></li>
    <% end %>
  </div>
<% end %>
