<h1>The More you Know</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= markdown(post.body).html_safe%></td>
    <td>
      <%= link_to 'Show', post, class: "btn" %>
    </td>

      <% if current_user && policy(post).update? %>
      <td>
        <%= link_to 'Edit', edit_post_path(post), class: "btn" %>
      </td>
      <% end %>

      <% if current_user && policy(post).publish? %>
        <% if post.published %>
          <td><%= button_to 'UnPublish', post_path(post, post: { published: false }), method: :put, class: "btn" %></td>
        <% else %>
          <td><%= button_to 'Publish', post_path(post, post: { published: true }), method: :put, class: "btn" %></td>
        <% end %>
      <% end %>

      <% if current_user && policy(post).destroy? %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
      <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, class: "btn btn-large btn-primary" if policy(Post).create? %>
