
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= markdown(@post.body).html_safe %>
</p>

<p id="author">
  <b> By: </b> <%= @post.author.email %>
</p>



<%= render '/comments/show_comment' %>


<% if current_user && policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'All Posts', posts_path %> |
<%= link_to 'Front Page', root_path %>
