<div class="post-body">
  <%= markdown(@post.body).html_safe %>
</div>

<div class="post-comments">
  <%= render '/comments/show_comment' %>
</div>

<div class="post-nav">
  <% if current_user && policy(@post).update? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>

  <%= link_to 'All Posts', posts_path %> |
  <%= link_to 'Front Page', root_path %>
</div>
